/* Navbar */
nav {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(14, 61, 183, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: var(--primary-color);
  padding: 5px;
  margin-left: 50px;
}

.logoText {
  color: var(--primary-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: inline-flex;
  flex-shrink: 0;
  padding: 10px;
  height: 73px;
  margin-right: 400px;
}

.navLink {
  flex-shrink: 0;
  color: var(--text-color);
  font-size: 22px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.297px;
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
}

.auth {
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--primary-color);
  color: white;
  letter-spacing: -0.297px;
  margin: 4px;
  padding: 6px 20px;
  font-weight: 500;
}

.auth-danger {
  background: red;
}

/* Search */
.inputContainer {
  width: 688px;
  height: 64px;
  background: hsl(0, 0%, 100%);
  border-radius: 25px;
}

form {
  display: flex;
  width: 100%;
  max-width: 650px;
  padding: 10px;
  margin: auto;
}

.form-control {
  width: 640px;
  height: 20px;
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  outline-color: #c1c1c1;
  color: grey;
  border: none;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #fff;
  padding: 20px;
  margin: 20px;
}

.row {
  display: inline-flex;
  margin: 0px 50px;
}

.col {
  margin: 10px;
}

.rowcol {
  margin: 20px 50px;
  padding: 30px 50px;
  line-height: 25px;
}

.footer_text {
  line-height: 30px;
  color: var(--primary-color);
  margin: 0px 50px;
}

.footer_quick-links ul li {
  background: transparent !important;
}

.footer_quick-links ul li a {
  color: var(--primary-color);
}

.quick__links-title {
  margin-bottom: 30px;
  color: var(--primary-color);
  font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
  color: rgba(57, 111, 173, 0.477);
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: rgba(57, 111, 173, 0.477);
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
