/* Home */
.home {
  background: var(--bg-color);
  flex-shrink: 0;
  padding: 30px 0px 50px 0px;
  margin-top: 50px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left {
  text-align: center;
  margin-right: 10px;
  padding: 80px;
}

.hero-right {
  width: 1000px;
  border-radius: 50px 0px 0px 50px;
}

.heading {
  color: var(--primary-color);
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
}

.sub-heading {
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 50px;
}

.learn {
  color: #1e1e1e;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  margin-top: 30px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-hospital {
  color: var(--primary-color);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.275px;
  padding: 5px;
}

/* Login */
.login {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 50px;
  display: flex;
}

.loginCon {
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 2px 2px var(--bg-color);
}

.authForm {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 12px;
  background: #e0e4ec;
  width: 500px;
  height: 50px;
  border: none;
  padding: 20px;
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  outline-color: #c1c1c1;
  color: grey;
}

/* btn */
.btn {
  border-radius: 12px;
  background: var(--primary-color);
  color: white;
  margin: 5px 150px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  font-family: Inter;
}
